body{
    background-color: antiquewhite;
}

/* MAIN HEADER */

.mainHeader{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-direction:column-reverse;
    margin: 45px;
    margin-top: 50px; 
    outline-color: #310d0d5f; 
    outline-width: 10px;
    outline-style:dotted;
    border-radius: 1%;
    border-left: pink;
    padding: 10px;
}


 .mainHeader h1 {
    margin: 0; 
    font-size: 7cap;
    letter-spacing: 50px;
}


 .mainHeader p {
    display: flex;  
    text-align: right; 
    margin: 0; 
    padding: 0; 
    flex-direction: row-reverse;
    text-transform:lowercase;
    text-decoration: solid ;
    text-decoration:underline;
}
 

.mainHeader nav{
    display: flex;
    outline-style: double;
    outline-color: rgb(0, 0, 0);
    padding: 50px;
}

.mainHeader .nav-button {
    display: inline-block;
    padding: 10px 15px;
    color: #161010;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 10px;
}

/* HEADER 1 */

.header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    outline-color: #5e4141;
    outline-style: double;
    outline-width: 1cap;
    margin: 50px;

.header1 nav{


    display: flex;
    outline-style: double;
    outline-color: rgb(0, 0, 0);
    padding: 50px;
}

}

.logo1 {
    height: 70px;
    width: auto; 
    margin-right: 15px;
}

.search1 {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    padding-right: 20%;
    outline-color: rgb(186, 118, 0);
    margin-right: auto;
    width: 100%;
    max-width: 400px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
}

.header1 nav {
    display: flex;
    outline-style: double;
    outline-color: rgba(0, 0, 0, 0);
    padding: 10px;
    gap: 15px;
}

.header1 .nav-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #ffa600;
    color: #5e4141;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.header1 .nav-button:hover {
    background-color: #ffbf6b;
    transform: scale(1.05);
}



/* HEADER 2*/

.header2 nav{
    display: flex;
    outline-style: double;
    outline-color: rgba(0, 0, 0, 0);
    padding: 10px;
    gap: 15px;
}

.header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    outline-color: #5e4141;
    outline-style: double;
    outline-width: 1cap;
    margin: 50px;
}



.menu2 {
    display: flex;
    height: auto;  
    padding: 0px;
    padding-right: 0%;
    display: inline-block;  
    font-size: 50px;  
    line-height: 1; 
    cursor: pointer;
    margin-right: 1cap;
    

}

.logo2 {
    height: 70px;
    width: auto; 
    margin-right: 15px; 
}

.search2 {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    padding-right: 20%;
    margin-right: auto;
    width: 100%;
    max-width: 350px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
    outline-color: rgb(186, 118, 0);

}


.header2 nav {
    display: flex;
    outline-style: double;
    outline-color: rgba(0, 0, 0, 0);
    padding: 10px;
    gap: 15px;
   margin:auto;
    
}

.header2 .nav-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #ffa600;
    color: #5e4141;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

.header2 .nav-button:hover {
    background-color: #ffb656;
    transform: scale(1.05);
}





/* HEADER 3*/

body{
    background-color: antiquewhite;
}

.home-3{
    margin: 10px;
    padding-right: 50px;
    color: #161010;
    font-size: larger;
}

.header3 nav{
    display: flex;
    outline-color: rgba(0, 0, 0, 0);
    padding: 10px;
    gap: 15px;
}

.header3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    outline-color: #5e4141;
    outline-style: double;
    outline-width: 1cap;
    margin: 50px;
}



.menu3 {
    display: flex;
    height: auto;  
    padding: 0px;
    padding-right: 0%;
    display: inline-block;  
    font-size: 50px;  
    line-height: 1; 
    cursor: pointer;

    padding-left: 100px;
   
}

.logo3 {
    height: 70px;
    width: auto; 
    margin-right: 15px; 
}

.search3 {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    padding-right: 20%;
    margin-right: auto;
    width: 100%;
    max-width: 350px; 

}


.header3 nav {
    display: flex;
    outline-style: double;
    padding: 10px;
    gap: 15px;
    margin:auto;
    
}

.header3 .nav-button {
    display: inline-block;
    padding: 10px 15px;
    color: #5e4141;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size:x-large;
    
}

.header3 .nav-button:hover {
    transform: scale(2);
}





/* HEADER 4*/

body{
    background-color: antiquewhite;
}


.header4 nav{
    display: flex;
    padding: 10px;
    gap: 15px;
}

.header4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    outline-color: #000000;
    outline-style: double;
    outline-width: 1cap;
    margin: 50px;
}


.menu4 {
    display: flex;
    height: auto;  
    padding: 0px;
    padding-right: 0%;
    display: inline-block;  
    font-size: 50px;  
    line-height: 1; 
    cursor: pointer;

    padding-left: 50px;
    padding-right: 50px;
   
}


.search4 {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    padding-right: 20%;
    margin-right: auto;
    width: 100%;
    max-width: 350px; 
    background-color: #00000000;

}


.header4 .nav-button {
    display: inline-block;
    padding: 10px 15px;
    padding-top: 30px;
    color: #5e4141;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size:x-large;
    
}

.header4 .nav-button:hover {
    transform: scale(2);
}


.socmedIcons4{
    padding: 10px;

}


/* HEADER 5*/ /* HEADER 5*/ /* HEADER 5*/ /* HEADER 5*/ /* HEADER 5*/ /* HEADER 5*/



.header5 nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 15px;
}

.header5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px px;
    outline-color: #000000;
    outline-style: double;
    outline-width: 1cap;
    margin: 50px;
    flex-wrap: wrap; 
}

.menu5 {
    display: flex;
    height: auto;  
    font-size: 50px;  
    line-height: 1; 
    cursor: pointer;
    order: 0; 
    padding-left: 100px;
}

.search5 {
    display: flex;
    justify-content: flex-end;  
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    padding-right: 10px;  
    margin-right: 70px;
    width: 100%;
    max-width: 250px;
}

.desc5 {
    display: flex;
    align-items: center;
    justify-content: center;  
    font-size:xx-large;
    font-weight: 100;
    font-family:fantasy;
    outline-color: #000000;
    
    margin-top: 0px;
     width: 100%; 
    text-align: center;  
}

.header5 .nav-button {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    padding-top: 100px;
    padding-right: 10px;
    color: #5e4141;
    text-decoration: none;
    font-size: x-large;
    padding-right: 50px;
}

.header5 .nav-button:hover {
    transform: scale(2);
}

.companyName5 {
    display: flex;
    align-items: center;
    align-self: center;
    font-size: 60px;
    margin-left: 350px;
    margin-right: 150px;
    width: 75%;
    text-align: center; 
}

.socmedIcons5 {
    display: flex;
    align-items: center;
    order: 2;
    margin-left: 50px;
}







/* EWAN  basta pang general*/

.title-head {
    margin-left: 45px;
}

.title {
    margin-left: 45px;
    font-size: 2cap;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}