body{
    background-color: antiquewhite;
}

/* MAIN HEADER */

.mainHeader{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-direction:column-reverse;
    margin: 45px;
    margin-top: 50px; 
    outline-color: #310d0d5f; 
    outline-width: 10px;
    outline-style:dotted;
    border-radius: 1%;
    border-left: pink;
    padding: 10px;
}

.title-head{
    font-size: 4cap;
    padding: 10px;
    background-color: #ffbf6b;
    border-radius: 10px;
    margin: 40px;
    letter-spacing: ;
}
 .mainHeader h1 {
    margin: 0; 
    font-size: 7cap;
    letter-spacing: 50px;
}


 .mainHeader p {
    display: flex;  
    text-align: right; 
    margin: 0; 
    padding: 0; 
    flex-direction: row-reverse;
    text-transform:lowercase;
    text-decoration: solid ;
    text-decoration:underline;
}
 

.mainHeader nav{
    display: flex;
    outline-style: double;
    outline-color: rgb(0, 0, 0);
    padding: 50px;
}

.mainHeader .nav-button {
    display: inline-block;
    padding: 10px 15px;
    color: #161010;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 10px;
}

/* HEADER 1 */

.header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    outline-color: #5e4141;
    outline-style: double;
    outline-width: 1cap;
    margin: 50px;

.header1 nav{


    display: flex;
    outline-style: double;
    outline-color: rgb(0, 0, 0);
    padding: 50px;
}
}

.logo1 {
    height: 100px;
    width: auto; 
    margin-right: 15px;
    padding:0px;
    margin-right: auto;
}

.search1 {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    padding-right: 20%;
    outline-color: rgb(186, 118, 0);
    margin-right:auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
    font-size: x-large;
}

.header1 nav {
    display: flex;
    outline-style: double;
    outline-color: rgba(0, 0, 0, 0);
    padding: 10px;
    gap: 15px;
}

.header1 .nav-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffa600;
    color: #5e4141;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: xx-large;
}

.header1 .nav-button:hover {
    background-color: #ffbf6b;
    transform: scale(1.05);
}



/* HEADER 2*/

.header2 nav{
    display: flex;
    outline-style: double;
    outline-color: rgba(0, 0, 0, 0);
    padding: 10px;
    gap: 15px;
}

.header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    outline-color: #5e4141;
    outline-style: double;
    outline-width: 1cap;
    margin: 50px;
}



.menu2 {
    display: flex;
    height: auto;  
    padding-left: 50px;
    padding-right: 0%;
    padding-bottom: 15px;
    display: inline-block;  
    font-size: 50px;  
    line-height: 1; 
    cursor: pointer;
    margin-right: 1cap;
    font-size: 100px;    

}

.logo2 {
    height: 100px;
    width: auto;
    margin-left: 30px;
}

.search2 {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    padding-right: 20%;
    margin-right: auto;
    width: 100%;
    max-width: 350px; 
    box-shadow: rgba(0, 0, 0, 0.1);
    background-color: #ffffff6e; 
    outline-color: rgb(186, 118, 0);

}

.header2 nav {
    display: flex;
    outline-style: double;
    outline-color: rgba(0, 0, 0, 0);
    padding: 10px;
    gap: 15px;
   margin:auto;
   margin-left: 0px;
   margin-top:100px;
   margin-right:100px ;
   margin-bottom: 10px;
   padding-bottom: 100px;
   
}

.header2 .nav-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #ffa600;
    color: #5e4141;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.5s ease, transform 0.3s ease;
    margin: 10px;
    font-size:x-large;
    font-weight:bolder;
    letter-spacing: 5px;
    flex-direction: column-reverse;
    align-items: flex-end;

}

.header2 .nav-button:hover {
    background-color: #ffb656;
    transform: scale(1.05);
}





/* THREE */
.header5-hi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    outline-color: #000000;
    outline-style: double;
    outline-width: 1cap;
    margin: 50px;
    flex-wrap: wrap;
}

.header5-hi nav {
    display: flex;
    padding: 20px;
    gap: 15px;
    margin-right: 190px;
    justify-content: space-around;
}

.header5-hi .nav-button {
    padding: 15px;
    padding-top: 160px;
    color: #000000;
    text-decoration: none;
    font-size: x-large;
    padding-right: 70px;
    font-weight:bolder;
}

.companyName5-hi {
    align-self: center;
    font-size: 100px;
    margin-left: 390px;
    margin-right: 40px;
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu5-hi {
    display: flex;
    height: auto;
    font-size: 100px; 
    line-height: 1;
    cursor: pointer;
    order: 0;
    padding-left: 100px;
    padding-top: 120px;
}

.socmedIcons5-hi {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top: 10px;
    margin-top: 100px;
    order: 2;
    margin-left: 425px;
}

.socmed {
    height: 100px;
    width: auto; 
    padding-left: 300px;
    padding:1px;
    margin-right: auto;
}




/* HEADER 3*/

.home-3{
    margin: px;
    padding-right: 40%;
    padding-left: ;
    color: #161010;
    font-size: larger;
    line-height: ;
}

.header3 nav{
    display: flex;
    outline-color: rgba(255, 0, 0, 0.778);
    align-items: center;
    justify-content:space-between;
    padding: 100%;
    margin: 100%;
}

.header3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    outline-color: #000000;
    outline-style: double;
    outline-width: 1cap;
    margin: 50px;
}



.menu3 {
    display: flex;
    font-size: 75px;
    line-height: 1;
    cursor: pointer;
    margin-left: 0%;
    padding-left: 0%;
   
}

.logo3 {
    height: 70px;
    width: auto;
    font-size: 100px;
}

.search3 {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    padding-right: 20%;
    margin-right: auto;
    width: 100%;
    max-width: 350px; 
    margin-left: 10%;
    

}


.header3 nav {
    display: flex;
    outline-style: double;
    padding: 10px;
    gap: 15px;
    margin:auto;
    line-height: 4; 
    
    
}

.header3 .nav-button {
    display: inline-block;
    padding: 30px;
    color: #5e4141;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size:x-large;
    
}

.header3 .nav-button:hover {
    transform: scale(2);
}


.companyName3 {
    display: block;
    line-height: 0;
    flex-direction: column-reverse;
    margin-top: 2%;
}




/* HEADER 4*/


.header4 nav{
    display: flex;
    padding: 10px;
    gap: 15px;
}

.header4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    outline-color: #000000;
    outline-style: double;
    outline-width: 1cap;
    margin: 50px;
}


.menu4 {
    display: flex;
    height: auto;  
    padding: 0px;
    padding-right: 0%;
    display: inline-block;  
    font-size: 50px;  
    line-height: 1; 
    cursor: pointer;

    padding-left: 50px;
    padding-right: 50px;
   
}


.search4 {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    padding-right: 20%;
    margin-right: auto;
    width: 100%;
    max-width: 350px; 
    background-color: #00000000;

}


.header4 .nav-button {
    display: inline-block;
    padding: 10px 15px;
    padding-top: 30px;
    color: #5e4141;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size:x-large;
    
}

.header4 .nav-button:hover {
    transform: scale(2);
}


.socmedIcons4{
    padding: 10px;
    cursor: pointer;

}


/* HEADER 5*/ /* HEADER 5*/ /* HEADER 5*/ /* HEADER 5*/ /* HEADER 5*/ /* HEADER 5*/



.header5 nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 15px;
}

.header5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px px;
    outline-color: #000000;
    outline-style: double;
    outline-width: 1cap;
    margin: 50px;
    flex-wrap: wrap; 
}

.menu5 {
    display: flex;
    height: auto;  
    font-size: 50px;  
    line-height: 1; 
    cursor: pointer;
    order: 0; 
    padding-left: 100px;
}

.search5 {
    display: flex;
    justify-content: flex-end;  
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    padding-right: 10px;  
    margin-right: 70px;
    width: 100%;
    max-width: 250px;
}

.desc5 {
    display: flex;
    align-items: center;
    justify-content: center;  
    font-size:xx-large;
    font-weight: 100;
    font-family:fantasy;
    outline-color: #000000;
    
    margin-top: 0px;
     width: 100%; 
    text-align: center;  
}

.header5 .nav-button {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    padding-top: 40px;
    padding-right: 10px;
    color: #5e4141;
    text-decoration: none;
    font-size: x-large;
    padding-right: 50px;
}

.header5 .nav-button:hover {
    transform: scale(2);
}

.companyName5 {
    display: flex;
    align-items: center;
    align-self: center;
    font-size: 60px;
    margin-left: 350px;
    margin-right: 150px;
    width: 75%;
    text-align: center; 
}

.socmedIcons5 {
    display: flex;
    align-items: center;
    order: 2;
    margin-left: 50px;
    cursor: pointer;
}


/* HEADER ANIMATION PART*//* HEADER ANIMATION PART*//* HEADER ANIMATION PART*//* HEADER ANIMATION PART*/



/* FIRST HEADER ANIMATION */
.header1-Animation nav {
    display: flex;
    padding: 10px;
    gap: 15px;
}

.header1-Animation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    outline-color: #000000;
    outline-style: double;
    outline-width: 1cap;
    margin: 50px;
}

.menu1-Animation {
    display: flex;
    height: auto;  
    padding: 0px;
    padding-right: 0%;
    display: inline-block;  
    font-size: 50px;  
    line-height: 1; 
    cursor: pointer;
    padding-left: 50px;
    padding-right: 50px;
}

.search1-Animation {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    padding-right: 20%;
    margin-right: auto;
    width: 100%;
    max-width: 350px; 
    background-color: #00000000;
    outline-color: #a5840004;
    outline-style: groove;
    transition: background-color 0.3s ease;
}

.search1-Animation:hover {
    background-color: #ffa03377; 
}

.header1-Animation .nav-button {
    display: inline-block;
    padding: 10px 15px;
    padding-top: 15px;
    color: #5e4141;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    font-size: x-large;
}

.header1-Animation .nav-button:hover {
    transform: scale(2);
    color: #16100e;
}

.socmedIcons1-Animation {
    padding: 10px;
    cursor: pointer;
}




/* SECOND HEADER ANIMATION */


.header2-Animation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    outline-color: #5e4141;
    outline-style: double;
    outline-width: 1cap;
    margin: 50px;
    color: #FFF;
    transition: all 0.5s;
    position: relative;
  
}

.logo2 {
    height: 70px;
    width: auto; 
    margin-right: 15px;
}

.search2-Animation {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    padding-right: 20%;
    outline-color: rgb(186, 118, 0);
    margin-right: auto;
    width: 100%;
    max-width: 400px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
}

.header2-Animation nav {
    display: flex;
    outline-style: double;
    outline-color: rgba(0, 0, 0, 0);
    padding: 10px;
    gap: 15px;
}

.header2-Animation .nav-button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(239, 178, 54, 0.221);
    border-radius: 20px;

    transition: all 1s;
  
}
.header2-Animation .nav-button:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
.header2-Animation .nav-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 2px solid rgb(0, 0, 0);
    transform: scale(1.2,1.2);
    border-radius: 20px;

  }
.header2-Animation .nav-button:hover::after {
    opacity: 1;
    transform: scale(1,1);
    border-radius: 20px;

  }
  

.header2-Animation .nav-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #ffa600;
    color: #5e4141;
    text-decoration: none;
    border-radius: 20px;
  transition: all 0.5s;
  position: relative;

}

.header2-Animation .nav-button:hover {
    background-color: #ffbf6b;
    transform: scale(1.05);
}






/* THIRD HEADER ANIMATION */


.header3-Animation nav{
    display: flex;
    padding: 10px;
    gap: 15px;
}

.header3-Animation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    outline-color: #000000;
    outline-style: double;
    outline-width: 1cap;
    margin: 50px;
}


.menu3-Animation {
    display: flex;
    height: auto;  
    padding: 0px;
    padding-right: 0%;
    display: inline-block;  
    font-size: 50px;  
    line-height: 1; 
    cursor: pointer;

    padding-left: 50px;
    padding-right: 50px;
   
}


.search3-Animation {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    padding-right: 20%;
    margin-right: auto;
    width: 100%;
    max-width: 350px; 
    background-color: #00000000;

}


.header3-Animation .nav-button {
    display: inline-block;
    padding: 10px 15px;
    padding-top: 15px;
    color: #5e4141;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size:x-large;
    
}

.header3-Animation .nav-button:hover {
    transform: scale(2);
}


.socmedIcons3-Animation{
    padding: 10px;
    cursor: pointer;

}


      
      .header3-Animation ul{
        display:flex;
      }
      
      .header3-Animation ul li{
        list-style:none;
        transition:0.5s;
      }
      
      .header3-Animation ul li {
        display: block;
        position:relative;
        text-decoration:none;
        padding:5px;
        text-transform:uppercase;
        transition:3s;
      }
      
      .header3-Animation ul:hover li a{
        transform:scale(1.5);
        opacity:1;
        filter:blur(10px);
      }
      
      .header3-Animation ul li a:hover{
        transform:scale(2);
        opacity:1;
        filter:blur(0);
        color:#fff;
      }
      
      .header3-Animation ul li a:before{
        content:'';
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:#cfa780;
        transition:1s;
        transform-origin:left;
        transform:scaleX(0);
        z-index:-1;
      }
      
      .header3-Animation ul li a:hover:before{
        transition:transform 0.5s;
        transform-origin:top;
        transform:scaleX(1);
      }









/* FIFTH HEADER ANIMATION */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header5-Animation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    outline-color: #5e4141;
    outline-style: double;
    outline-width: 1cap;
    margin: 50px;
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}

.logo-container {
    position: relative;
    width: 70px;
    height: 70px;
    margin-right: 15px;
}

.logo5-Animation {
    height: 100%;
    width: 100%; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    object-fit: contain; 
    transition: opacity 0.5s ease-in-out; 
}

.fire-animation {
    z-index: 0;
    opacity: 0; 
}

.logo-container:hover .fire-animation {
    opacity: 1; 
}

.logo-container:hover #Logo {
    opacity: 0; 
}

@keyframes fire-flicker {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.search5-Animation {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    padding-right: 20%;
    outline-color: rgb(186, 118, 0);
    margin-right: auto;
    width: 100%;
    max-width: 400px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
}

.header5-Animation nav {
    display: flex;
    outline-style: double;
    outline-color: rgba(0, 0, 0, 0);
    padding: 10px;
    gap: 15px;
}

.header5-Animation .nav-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(239, 178, 54, 0.221);
    border-radius: 20px;
    transition: all 1s;
}

.header5-Animation .nav-button:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.header5-Animation .nav-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 2px solid rgb(0, 0, 0);
    transform: scale(1.2, 1.2);
    border-radius: 20px;
}

.header5-Animation .nav-button:hover::after {
    opacity: 1;
    transform: scale(1, 1);
    border-radius: 20px;
}

.header5-Animation .nav-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #ffa600;
    color: #5e4141;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.5s;
    position: relative;
}

.header5-Animation .nav-button:hover {
    background-color: #ffbf6b;
    transform: scale(1.05);
}



/* FOURTH HEADER ANIMATION */


.header4-Animation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px px;
    outline-color: #000000;
    outline-style: double;
    outline-width: 1cap;
    margin: 50px;
    flex-wrap: wrap; 
}


.header4-Animation nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 15px;
}


.menu4-Animation{
    display: flex;
    height: auto;  
    font-size: 50px;  
    line-height: 1; 
    cursor: pointer;
    order: 0; 
    padding-left: 100px;
}

.search4-Animation {
    display: flex;
    justify-content: flex-end;  
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    padding-right: 10px;  
    margin-right: 70px;
    width: 100%;
    max-width: 250px;
}


.header4-Animation .nav-button {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    padding-top: 40px;
    padding-right: 10px;
    color: #5e4141;
    text-decoration: none;
    font-size: x-large;
    padding-right: 50px;
}

.header4-Animation .nav-button:hover {
    transform: scale(2);
}

.companyName4-Animation {
    display: flex;
    align-items: center;
    align-self: center;
    font-size: 60px;
    margin-left: 350px;
    margin-right: 150px;
    width: 75%;
    text-align: center; 
}

.socmedIcons4-Animation {
    display: flex;
    align-items: center;
    order: 2;
    margin-left: 50px;
    cursor: pointer;
}

.container {
    height: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding: 20px;
    width: 100%;
    margin: auto;
}

.desc4-Animation {
    position: absolute;
    white-space: nowrap;
    font-size: xx-large;
    font-weight: 100;
    font-family: fantasy;
    outline-color: #000000;
    animation: desc4Animation 20s linear infinite;
}

@keyframes desc4Animation {
    from {
        left: 100%; 
    }
    to {
        left: -100%; 
    }
}







/* EWAN  basta pang general*/

.title-head {
    margin-left: 45px;
}

.title {
    margin-left: 45px;
    font-size: 2cap;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}













